<header>
    <div class="container">
        <div>
            <h3><i class="fas fa-bars"></i></h3>
        </div>

        <div>
            <h2><a href="/">Portal de <b>Notícias</b></a></h2>
        </div>

        <div class="busca">
            <form action="/">
                <div>
                    <input type="text" name="search" placeholder="Buscar" />
                    <h3><i class="fas fa-search"></i></h3>
                </div>
            </form>
        </div>
    </div><!-- container -->
</header>